body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    color: #333333;
}

#logo {
    position: absolute;
    right: 5px;
    top: 5px;
}

.texts {
    padding-bottom: 10px;
}